/* Global Styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Roboot", sans-serif;
}
:root{
    --main-font-color:#f2b632;
    --main-white: #fff;
    --main-font-dark-gray:#4d4d4d;
    --main-footer-bg-color:#141414;
    --main-font-family: "Cheddar Jack", cursive;
}
section{
    padding: 6rem 0;
}
p{
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 300;
}